.navbar {
    position: sticky;
    margin: 0%;
    padding-top: 10px;
    padding-bottom: 1px;
    background-color: #fff9f4;
    box-shadow: 0px 4px 10px grey; 
}
.img {
    width: 120px;
    height: 37px;
    display: inline;
    margin-left: 90px;
    margin-top: 20px;
    margin-bottom: 90px;
}

.orange {
    color: #fd7e14;
    /* font-size: 30px; */
    font: 1.9em sans-serif;
    margin-left: 210px;
    margin-top: -130px;
    font-weight: bold;
}

.block {
    color: #343a40;
    font: 2em sans-serif;
    margin-left: 286px;
    margin-top: -55px;
    /* font-size: 30px; */
    /* font-weight: 100px; */
}

#black {
    color: rgb(0, 0, 0);
    list-style: none;
    font: 1.3em sans-serif;
    margin-left: 900px;
    margin-top: -50px;
    font-weight: bold;
}

.mmm {
    list-style: none;
    margin-left: 1050px;
    margin-top: -20px;
    font: 1.3em sans-serif;
    color: #6c757d;
    font-weight: bold;
}

.mmmm {
    list-style: none;
    margin-left: 1200px;
    margin-top: -20px;
    font: 1.3em sans-serif;
    color: #6c757d;
    font-weight: bold;
}

.mmmmm {
    list-style: none;
    margin-left: 1350px;
    margin-top: -21px;
    font: 1.3em sans-serif;
    color: #6c757d;
    font-weight: bold;
    margin-bottom: 50px;
}